/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-paragraph {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  list-style: none;
  margin: 45px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: rgb(248, 201, 143);
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 150px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
  margin-top: 5px;
}
.banner .profile-pic {
  width: 300px;
}
.banner-gratting {
  font-size: 30px;
  color: #181818;
  margin-bottom: 5px;
}
.name {
  font-size: 70px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 30px;
}
/* main section style */

/* about section style */
.about{
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}
